.bg{
    
    position: relative;
    padding: 20px 20px 10px 20px; 
    border-bottom: 2px solid #dddddd;
    width: 2600px;
    height: 300px;
    background-repeat: no-repeat;

}
.bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-image: url(/image/images.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    opacity: 0.32; 
    z-index: -1; 
}
#in-bg{
    display: flex;
    justify-content: center;
    text-align: center;
}
#title_text{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    vertical-align: middle;
    align-items:center;

    font-size: 100px;

}
/* part 2*/
.album{
    border-radius: 12px;
    background-color: #fefefedc;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    text-align: center;
    scroll-snap-align: start; 
    width: auto;
    height: auto;  

}

.album h3{
    font-size: 30px;
}
.album img{
    width: 380px;
    height: 380px;
    object-fit: cover;
}
.album-slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% - 40px) / 3);
    gap: 25px;
    overflow-x: auto;
    padding: 25px 0;
    scrollbar-width: none;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
}

.card-slider::-webkit-scrollbar {
    display: none;
}